<!DOCTYPE html>
<html>
<head>
	<meta http-equiv=Content-Type content="text/html;charset=UTF-8">

	<meta name="defaultLanguage" content="en-US">
	<meta name="availableLanguages" content="ru, en-US">
	<link rel="localization" href="_locales/configure.{locale}.ftl">

	<link rel="stylesheet" href="css/makeit.css">
	<link rel="stylesheet" href="css/configure.css">
    	<link rel="stylesheet" href="css/symbols.css">
    	<link rel="stylesheet" href="css/animation.css">
    	<link rel="icon" type="image/png" href="icon.png" />
    	<title data-l10n-id="title">y-Translate configuration</title>
</head>
<body ng-app="p2ptm" data-framework="angularjs" ng-controller="mainCtrl" >
	<!-- top  acl projects/edit/new... -->
	<div id="menuinterruption"></div>
	<nav id="toppanel" class="ctrl">
		<div class="navcontrols" style="text-align: center">
			
				 <img src="icon.png" width="16px" height="16px"></img>&nbsp;<span data-l10n-id="title">y-Translate configuration</span>
			
		</div>
	</nav>
	<nav id="procIndicator" class="ctrl right">
		<div class="navcontrols">
			<i class="icon-spin2 animate-spin"></i>&nbsp;<span>Loading...</span>
		</div>
	</nav>
	<!-- left on/off -->
	<aside id="leftslash">
		<section>

			<div ng-click="slideProjects()" class="primary">
			<i class="icon-language" style="float:left"></i><span data-l10n-id="Behaviour">Behaviour</span></div>

			<div ng-click="slideProjects()" class="primary">
			<i class="icon-flight" style="float:left"></i><span  data-l10n-id="Services">Services</span></div>

			<div ng-click="slideProjects()" class="primary">
			<i class="icon-code" style="float:left"></i><span data-l10n-id="Appearance">Appearance</span></div>

			<div ng-click="slideProjects()" class="primary">
			<i class="icon-lightbulb" style="float:left"></i><span data-l10n-id="About">About</span></div>
		</section>
		<footer class="footer"></footer>
	</aside>
	<!-- on/off [src|dst] -->
	<section class="workzone">
		<section id="projects" class="workzonepanel slidepanel slidepon" style="display: block;">

			<div class="scontent">
				<h1><span data-l10n-id="Behaviour_settings">Behaviour settings&nbsp;</span><span class="hinfo" id="behSaved" data-l10n-id="saved_mark">saved...</span></h1>
				<div id="switch-project">
						<form>
<!-- 							<div class="fc-group">
								<label><input type="checkbox" disabled="disabled" checked="checked" />&nbsp;OWNER</label>
							</div> -->
							<div class="fc-group">
								 <label data-l10n-id="Initiation_of_translation">Initiation of translation: </label>
								<div class="fc-controls">
								<br />
									<p class="ptoggle"><span data-l10n-id="By_Mouse">By Mouse:</span> 
									   <a toggleme ng-model="settings.activateModeMouse" id="toggle-empty" class="toggle" ><i class="icon-toggle-off"></i></a></p>
									<p class="ptoggle"><span data-l10n-id="By_Keyboard">By Keyboard:</span> 
									   <a toggleme ng-model="settings.activateModeKey" id="toggle-empty" class="toggle" ><i class="icon-toggle-off"></i></a></p>
								</div>
							</div>
							<div class="fc-group" ng-class="{hidden: settings.activateModeMouse}">
								<label data-l10n-id="Keyboard_key_set">Set Keyboard key: </label>
								<div class="fc-controls">
		
								<input type="text" inpkey ng-model="settings.translateEvtKeybrd" style="font-family: sans;font-size: 15pt;" />
								</div>
							</div>
							<div class="fc-group" ng-class="{hidden: settings.activateModeKey}">
								<label><span data-l10n-id="Mouse_Hover_Delay">Mouse Hover Delay:</span> <!-- ({{(props.baloonLagMs*0.001).toFixed(1)+"sec. "+howFast() }}) -->
									<span ng-model="settings.view_howfast"></span></label>
								<div class="fc-controls">

									<input type="range" min="700" max="2400" ng-model="settings.baloonLagMs" />
								</div>
							</div>
							<div class="fc-group fc-hl"></div>
							<div class="fc-group">
								<label data-l10n-id="dist_language">dist language</label><br/>
								<div class="fc-controls">
								<select ng-options="item as (item | lang) for item in langs.list" ng-model="settings.translateLNG_PREFER_TO" style="width:100pt" ang-select="langs.list"></select>
								</div>
							</div>

							<div class="fc-group">
								<label data-l10n-id="alt_language">alt language</label><br/>
								<div class="fc-controls">
								<select ng-options="item as (item | lang) for item in langs.list" ng-model="settings.translateLNG_PREFER_TO_ALT" style="width:100pt" ang-select="langs.list"></select>
								</div>
							</div>
							<div class="fc-group fc-hl"></div>
							<div class="fc-group">
								<label data-l10n-id="allow_to_copy_cpbrd">Allow to copy result  to clipboard: - NOT SUPPORTED RIGHT NOW -</label>

									  <a toggleme ng-model="settings.clipboarcpy" id="toggle-clipboard" class="toggle" ><i class="icon-toggle-off"></i></a>
							</div>
							<div class="fc-group" ng-class="{hidden: !settings.clipboarcpy}">
							<label data-l10n-id="Clipboard_copy_keyboard_key">Clipboard copy keyboard key:</label>	
						   		<div class="fc-controls">
						   			
									<input type="text" inpkey ng-model="settings.clipboardcpykey" style="font-family: sans;font-size: 15pt;" id="toggle-clipboard-key"  />
								</div>
							</div>

						</form>
					</div>
				</div>
		</section>
		
	<!-- pop up's -->


	<!-- ui deps -->
	<!-- <script type="text/javascript" src="js/angular.min.js"></script> -->
	<!-- loc -->
	<script type="text/javascript" src="l20n.min.js"></script>

	<script type="text/javascript" src="holder.js"></script>
	<script type="text/javascript" src="langlist.js"></script>
	<script type="text/javascript" src="configure.js"></script>

	<!-- <script type="text/javascript" src="deps/angular-animate.js"></script> -->
	<!-- third deps -->
	<script type="text/javascript" src="CONST.js"></script>
	<script type="text/javascript" src="ytranslate3.js"></script>
	<script type="text/javascript" src="invokeLimiter.js"></script> 
	<script type="text/javascript" src="page_interface.js"></script>
	
</body>
</html>